 /* .chat{
    display: flex;
    flex:0.65;
    flex-direction: column;
     height: 100%;
     width: 100%;
}


.chat_headerInfo{
    flex:1;
    padding-left: 20px;
}

.chat_headerInfo >h3{
    margin-bottom: 3px;
    font-weight: 500;
}

.chat_headerInfo >p{
    color: gray;
}

.chat_body{
    flex:1;
    background-image: url("https://img.freepik.com/premium-photo/technological-background-with-blue-neon-lights-technology-innovation-concept_803320-20901.jpg?w=2000");
    background-repeat: repeat;
    background-position: center;
    padding: 20px;
    overflow:  auto;
}
.chat_message{
    position: relative;
    font-size: 10px;
    padding: 10px;
    width: fit-content;
    border-radius: 10px;
    background-color: #fff;
    margin-bottom: 30px;
}

.chat_timestamp{
    margin-left: 10px;
    font-size: xx-small;
}

.chat_name{
    position: absolute;
    top: -15px;
    font-weight: 800;
    font-size: xx-small;  
}

.chat_receiver{
    margin-left: auto;
    background-color: #dcf8c6;
}

 .chat_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid lightgray;
    padding: 0 10px;
    flex-direction: row;
    
}


  
.chat_footer >form >input{
    flex: 1;
    border-radius: 30px;
    padding: 10px;
    border: none;
    outline: none;  
    width: 100%; 
}




.chat_footer >form {
  display: flex;
  flex: 1;
  margin: 0 10px;
}


.chat_footer >form >button{
    display: none;
}

.chat_footer > .MuiSvgIcon-root{
    padding: 10px;
    color: gray;
}

.chat_header {
  height: 70px; 
  padding: 0 20px;
  display: flex;
  align-items: center;
} */


        





  .chat {
  display: flex;
  flex-direction: column;
  flex: 0.65;
  height: 100%;
  background-color: white;
}

/* Header */
.chat_header {
  height: 70px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

/* Header Info */
.chat_headerInfo {
  flex: 1;
  padding-left: 20px;
}

.chat_headerInfo > h3 {
  margin-bottom: 3px;
  font-weight: 500;
}

.chat_headerInfo > p {
  color: gray;
}

/* Body */
.chat_body {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  background-image: url("https://img.freepik.com/premium-photo/technological-background-with-blue-neon-lights-technology-innovation-concept_803320-20901.jpg?w=2000");
  background-repeat: repeat;
  background-position: center;
}

/* Messages */
.chat_message {
  position: relative;
  font-size: 14px;
  padding: 10px;
  width: fit-content;
  max-width: 60%;
  border-radius: 10px;
  background-color: #fff;
  margin-bottom: 30px;
  word-break: break-word;
}

.chat_receiver {
  margin-left: auto;
  background-color: #dcf8c6;
}

.chat_name {
  position: absolute;
  top: -15px;
  font-weight: 800;
  font-size: xx-small;
}

.chat_timestamp {
  margin-left: 10px;
  font-size: xx-small;
}

/* Footer */
.chat_footer {
  display: flex;
  align-items: center;
  padding: 10px;
  border-top: 1px solid lightgray;
  background-color: white;
  height: 60px;
  box-sizing: border-box;
}

.chat_footer form {
  display: flex;
  flex: 1;
  margin: 0 10px;
}

.chat_footer input {
  flex: 1;
  border-radius: 30px;
  padding: 10px 15px;
  border: 1px solid lightgray;
  outline: none;
}

.chat_footer button {
  display: none;
}

.chat_footer .MuiSvgIcon-root {
  padding: 10px;
  color: gray;
}
