.sidebarchat{
    display: flex;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid #f6f6f6;
}

.sidebarchat :hover{
    background-color: #ebebeb;
}

.sidebarchat_info >h2{
    font-size: 16px;
    margin-bottom: 8px;
}

.sidebarchat_info{
    margin-left: 100px;
}

a{
    text-decoration: none;
    color: black;
}

.sidebarchat_link {
  text-decoration: none;
  color: inherit;
  display: block;
}


