/* 
.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #dadbd3;
}


.app_body {
  display: flex;
  flex-direction: column;
  height: 90vh;
  width: 90vw;
  background-color: #ededed;
  box-shadow: -1px 4px 20px -6px rgba(0,0,0,0.75);
  margin-top: -50px; /* keep your original offset 
 
}
 */

 .app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #dadbd3;
}

.app_body {
  display: flex;
  height: 90vh;
  width: 90vw;
  background-color: #ededed;
  box-shadow: -1px 4px 20px -6px rgba(0,0,0,0.75);
  margin-top: -50px; /* your original offset */
}
